{
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
	},
	"rules": {
		"block-scoped-var": 1,
		"padded-blocks": 0,
		"no-console": 1,
		"spaced-comment": 1,
		"space-before-blocks": 1,
		"indent": [2, "tab"],
		"curly": 0,
		"default-case": 1,
		"no-nested-ternary": 1,
		"no-shadow": 1,
		"new-cap": 1,
		"no-fallthrough": 1,
		"no-undef": 2
	}
}
